@import "~taro-ui/dist/style/index.scss"; // 引入组件样式，仅需引入一次即可

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f9fc;
  color: #435065;
}
.list {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.mb {
  margin-bottom: 1rem;
}
.mt {
  margin-top: 1rem;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
video {
  display: block;
}
.clearfix:after {
  clear: both;
  display: block;
  content: "...";
  visibility: hidden;
  height: 0;
  font-size: 0;
}
.empty-container {
  padding-top: 5rem;
  text-align: center;
  .empty-pic {
    margin: 0 auto;
    width: 320px;
    height: 330px;
    background-image: url("./assets/images/empty.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    .empty-text {
      padding-top: 270px;
    }
  }
}
