.user-list {
  padding: 1rem 0;
}
.user-avatar-td {
  width: 120px;
  display: flex;
}
.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 0.2rem;
  display: block;
  margin: 20px auto;
}
.user-item {
  margin-top: 0.5rem;
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.user-td {
  text-align: center;
  flex: 1;
  line-height: 100px;
}
